@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
,
    Maersk Line<br />
    Gomti House, <br/>
    2nd Floor, <br/>
    1 The Mall, <br/>
    Near Fountain Chowk<br/>
    <abbr title="Phone">P:</abbr>
    +60 13-5639 0200
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Maerskline@mail.com</a><br />
</address>
