@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Maersk Line</h1>
    <img src ='https://upload.wikimedia.org/wikipedia/en/thumb/3/39/Maersk_Line_Logo.svg/640px-Maersk_Line_Logo.svg.png' style="width:200px"></img>
    <p class="lead">Maersk Line is the global container division and the largest operating unit of the A.P. Moller – Maersk Group, a Danish business conglomerate. It is the world's largest container shipping company having customers through 374 offices in 116 countries. It employs approximately 7,000 sea farers and approximately 25,000 land-based people. Maersk Line operates over 600 vessels and has a capacity of 2.6 million TEU. The company was founded in 1928.</p>
</div>
